.body5mil {
    font-family: system-ui;

}

.titulo {
    font-size: 50px;
    text-align: center;
    align-items: center;

}

.slogan{
    font-size: 40px;
    text-align: center;
    align-items: center;
}

.contenedorHP {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 100px;
    box-shadow: 0 1px 10px 1px rgb(8, 7, 7);

}

.containerHP {
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;

}

.hpIMG {
    height: 500px;
    width: 500px;
    margin-top: 20px;
    margin-left: 75px;
    
}

@media screen and (max-width: 768px) {
    .hpIMG {
        height: 150px;
        width: 150px;
    }
}
