/* Estilos adicionales para centrar el navbar */
.custom-navbar {
    background: #363756;
  }
  
  .custom-navbar .navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .custom-navbar .navbar-brand img {
    margin-right: 10px;
  }
  
  .custom-navbar .navbar-brand h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .custom-navbar .navbar-nav .nav-link h3 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
  }
  
  .custom-navbar .navbar-nav .nav-item {
    margin: 0 10px;
  }
  
  .custom-navbar .dropdown-menu {
    background: #FEFEFE;
  }
  
  .custom-navbar .dropdown-menu a {
    color: #363756;
  }
  
  .custom-navbar .dropdown-menu a:hover {
    background: #fff;
    color: #363756;
  }
  
  /* Estilos para centrar el navbar */
  .custom-navbar .navbar-collapse {
    justify-content: center;
  }
  