.body21 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: burlywood;
    background:
        linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/f0/62/b6/f062b6a188b35680768564000f3d731e.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.wrapper21 {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 50px;
    /* Agrega un margen superior para separar del borde superior */
}

.wrapper21 h1 {
    text-align: center;
    /* Centrar el título */
    margin-bottom: 30px;
    /* Agregar un margen inferior al título */
}

.wrapper21 .input-box1 {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    /* Ajustar el margen inferior para separar los campos */
}

.wrapper21 .remember-forgot {
    display: flex;
    justify-content: space-between;
    /* Ajustar el espaciado entre los enlaces */
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.wrapper21 .btn1 {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
